In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('data.csv')
df

                   Channel    Velocity  Conversion        Value
0               Banner Ads         NaN    0.077795  2586.099782
1                    Email  110.743042    0.052954  2131.200000
2                   Search  124.261170    0.069350  6119.402184
3                   Events   23.761955    0.088925  5757.405730
4                   Social         NaN         NaN  5425.634412
5      Content Syndication   36.784186    0.089063  2396.927089
6                  Nurture   30.726479    0.024148  6321.727997
7              Sponsorship   55.122562         NaN  1224.400000
8                  Display  143.331883    0.002187  8178.076695
9             Retargetting         NaN    0.087794  8414.072599
10  Newsletter Sponsorship         NaN    0.086062  1503.153609

In [5]:
df['Velocity'].max()

143.331883

In [6]:
import scipy

In [7]:
import time

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
from sklearn.impute import SimpleImputer